<!DOCTYPE html>
<html>
<head>
    <title>Desktop File Generator</title>
</head>
<body>
    <h1>Desktop File Generator</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment"><br><br>
        <label for="terminal">Terminal:</label>
        <input type="checkbox" id="terminal" name="terminal"><br><br>
        <label for="executable">Executable:</label>
        <input type="file" id="executable" name="executable"><br><br>
        <label for="icon">Icon:</label>
        <input type="file" id="icon" name="icon"><br><br>
        <input type="submit" value="Generate Desktop File">
    </form>
</body>
</html>